<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data warehouse system</title>

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        nav {
            background-color: rgb(228, 86, 121);
            padding: 20px;
            text-align: center;
            color: white;
        }
        .sec1 {
            display: flex;
            justify-content: center;
            gap: 30px;
        }
        .sec1 button{
            background-color: rgb(228, 86, 121);
            border: none;
            outline: solid 2px wheat;
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav>
        <h1>Medical Centre Data Warehouse System for the University of Calabar</h1>
    </nav>

    <br>

    <section class="sec1">
        <a href="/patient/dashboard"><button>Login as Patient</button></a>
        <a href="/staff/dashboard"><button>Login as Staff</button></a>
        <a href="/admin/dashboard"><button>Login as Administrator</button></a>
    </section>
</body>
</html>